<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1 class="display-4">Bienvenido a Comanda App</h1>
            <p class="lead">La solucion para tus ordenes.</p>
            <hr class="my-4">
            <p>Please log in to access the system.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="{% static 'bootstrap-js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap-js/jquery.min.js' %}"></script>
</body>
</html>