<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComandaApp - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" href="#">Comanda App</a>
            <div class="nav-btns-container">
                <a class="nav-btn" href="{{ url_for('auth.login') }}" role="button">Inicio</a>
                <a class="nav-btn" href="#">Menú</a>
                <a class="nav-btn" href="#">Reservas</a>
                <a class="nav-btn" href="#">Contacto</a>
            </div>
        </div>
        
    </nav>

    <div class="home-bg-container">
    </div>
    <script src="{{ url_for('static', filename='bootstrap-js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>