<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <tittle>Registro</tittle>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container mt-5">
            <h2>Registro de usuario</h2>
            {% if error%}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif%}
            <form method="post">
                <div class="mb-3">
                    <label>Usuario</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <a href="{{ url_for('auth.login') }}">¿Ya tienes una cuenta? Inicia sesión</a>
        </div>
    </body>
</html>